#root {
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
	--primary: hsl(172, 67%, 45%);
	--dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

.light-cyan-container {
	background-color: var(--light-grayish-cyan);
}

.white-container {
	background-color: var(--white);
	padding: 24px;
}

.title {
	padding: 21px;
	text-align: center;
	letter-spacing: 0.7rem;
}

.button {
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
}

.percentage {
	background-color: var(--dark-cyan);
	color: var(--white);
}

.percentage.primary-button {
	background-color: var(--primary);
	color: var(--dark-cyan);
}

.custom {
	background-color: var(--very-light-grayish-cyan);
	color: var(--dark-grayish-cyan);
}
.tip-amount-container {
	background-color: var(--dark-cyan);
	border-radius: 12px;
	padding: 40px;
}

.white-text {
	color: var(--white);
}

.grayish-cyan-text {
	color: var(--dark-grayish-cyan);
}

.primary-text {
	color: var(--primary);
}

.two-cols {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 15px;
}

.reset-button {
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	padding: 12px;
	width: 100%;
	background-color: var(--primary);
	color: var(--dark-cyan);
	border: none;
	border-radius: 3px;
}

input[type="button"]:disabled {
	background: var(--dark-grayish-cyan);
	cursor: not-allowed;
}
