#root {
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.select-tip {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.percentage {
	cursor: pointer;
	background-color: hsl(183, 100%, 15%);
	color: hsl(0, 0%, 100%);
	border-radius: 5px;
}
.custom {
	cursor: pointer;
	background-color: hsl(189, 41%, 97%);
	color: (186, 14%, 43%);
	border-radius: 5px;
}
